<html>
    <head>
        <title>Intensify by TEMPLATED</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/main.css" />	
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
<body class="inner">    

    <p><span class="image left"><img src="/images/robotwarning.png" alt="" /></span><h2>로그인 후 이용해 주세요.</h2></p>
    <a href="http://127.0.0.1:3000">홈으로 가기</a>

		<!-- Scripts -->
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/jquery.scrolly.min.js"></script>
        <script src="/javascripts/skel.min.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/main.js"></script>
</body>
</html>